# Introduction to Jupyter Notebook

## Day one python class on how to use markdown, print hello world,perform simple calculation etc

## List in markdown
1. learn markdown
2. write code 
3. save the notebook

## Bulleted list

- Python basic
- jupyter feature
- Markdown

In [1]:
print("Hello, World")

Hello, World

![python image](https://upload.wikimedia.org/wikipedia/commons/3/31/Python-logo.png)

[Click here to visit python community](https://www.python.org/community/)

In [3]:
a = 10
b = 5

# Addition
sum = a + b
print("Addition:", sum)

# Subtraction
sub = a - b
print("Subtraction:", sub)

Addition: 15
Subtraction: 5

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
# This code demonstrates basic arithmetic operations
# Then, we calculate their sum and difference
print(2 + 5)
print(5 - 3)

7
2

In [11]:
a = 100
b = 300

# Measure execution time
%time result = a + b

# List all variabe
%who

Wall time: 0 ns
a	 b	 result	 sub	 sub_result	 sum	 sum_result

### Personal Information

| Name     | Age | Profession  |
|----------|-----|-------------|
| Fatee Abu | 19  | Data Analyst|
| Abdul Hakeem|30 | Doctor|

## Data Types in Python

In [12]:
type(42)

int

In [13]:
type(3.14)

float

In [14]:
type("python")

str

In [17]:
type([1,2,3])

list

In [21]:
type({"name": "John", "age": 30})

dict

In [25]:
a = 42

a = str(42)

type(a)

str

In [26]:
b = 42

b = float(42)

type(b)

float

In [28]:
favorite_friuts = ["Banana", "Mango" , " Apple", "Orange ", "Pawpaw"]
print(favorite_friuts)

['Banana', 'Mango', ' Apple', 'Orange ', 'Pawpaw']

In [29]:
type(favorite_friuts)

list

In [30]:
name = "Abbdulhakeem"

if type(name) is str:
    print("The variable is of type str.")
else:
    print("The variable is not of type str.")

The variable is of type str.

In [33]:
my_tuple = ("fatima", 3.0, "black")

In [34]:
print(my_tuple[1])

3.0

In [4]:
info = {"name": "Fatima", "age": 25, "city": "Kaduna"}
  
value = info["age"]
print(f"The value of the key 'age' is: {value}")

The value of the key 'age' is: 25

In [8]:
a = 10
b = 5.5
c = "Hello"
d = [1, 2, 3]

# Using type() to check data types

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

In [10]:
a = 7.9

int_num = int(a)

print(f"Original float value: {a}")
print(f"After typecasting to integer: {int_num}")

# Observation: The decimal part is truncated, not rounded.

Original float value: 7.9
After typecasting to integer: 7

In [17]:
user_input = input("Enter something: ")

# Check if it's a number or a string
if user_input.isdigit():
    print("The input is a number.")
else:
    print("The input is a string.")

Enter something: fatee
The input is a string.

In [18]:
my_list = [1, 2, 3, 4]
my_tuple = (10, 20, 30)
my_dict = {"a": 1, "b": 2, "c": 3}
 
list_length = len(my_list)
tuple_length = len(my_tuple)
dict_length = len(my_dict)

print(f"Length of the list: {list_length}")
print(f"Length of the tuple: {tuple_length}")
print(f"Length of the dictionary: {dict_length}")

Length of the list: 4
Length of the tuple: 3
Length of the dictionary: 3

## Expressions and Variables

In [20]:
x = 10
y = 3
z = 6

sum = x+y+z
print(f"the sum is : {sum}")

the sum is : 19

In [23]:
a = 5
b = 10

print(f"before swapping: a = {a}, b = {b}")

temp = a

a = b

b = temp

print(f"after swapping: a = {a}, b = {b}")

before swapping: a = 5, b = 10
after swapping: a = 10, b = 5

In [25]:
Frist_name = "Aisha"
Last_name = "Ibrahim"

Full_name = "my name is" +" " + Frist_name + " " + Last_name
print(Full_name)

my name is Aisha Ibrahim

In [26]:
# Initial value
x = 10
print(f"Initial value of x: {x}")

# Using compound assignment operators
x += 5  # Equivalent to x = x + 5
print(f"After x += 5: {x}")

x -= 3  # Equivalent to x = x - 3
print(f"After x -= 3: {x}")

x *= 2  # Equivalent to x = x * 2
print(f"After x *= 2: {x}")

x /= 4  # Equivalent to x = x / 4
print(f"After x /= 4: {x}")

x %= 3  # Equivalent to x = x % 3
print(f"After x %= 3: {x}")

Initial value of x: 10
After x += 5: 15
After x -= 3: 12
After x *= 2: 24
After x /= 4: 6.0
After x %= 3: 0.0

In [11]:
import math

# pi*r^2 = area
radius = 5  
area = math.pi * radius**2
print(f"The area is : {area}")

The area is : 78.53981633974483

In [14]:
# ax^2 + bx + c quadratic equation 

a = 1
b = -7
c = 12

# Discriminant
discriminant = b**2 - 4*a*c

# Roots
if discriminant >= 0:
    root1 = (-b + math.sqrt(discriminant)) / (2*a)
    root2 = (-b - math.sqrt(discriminant)) / (2*a)
    print(f"The roots are {root1} and {root2}")
else:
    print("The equation has no real roots")

The roots are 4.0 and 3.0

In [15]:
x = 42
print(f"The memory location of x is {id(x)}")

The memory location of x is 2180486688336

In [18]:
# or use this format to print the memory location using id()b
x = 23
print (id(x))

2180486687728

In [23]:
name = "Fatima"
print(f"Hi, {name} Good Morning")

Hi, Fatima Good Morning

In [26]:
a = 2
b = 5
c = 6

result = (a + b > c) and (c - 4 == a)

print(result)

True

In [27]:
a = 4
b = 5

c = (a + b) ** 2

print(c)

81

## Day 2

## String Operations

In [33]:
result = "hello" +" " + "python"

print(result)

hello python

In [34]:
learn_len = "Learn to code in python!"

length = len(learn_len)

print(length)

24

In [44]:
string = "Python Programming"

program = string[7:14]

print(program)

Program

In [46]:
string = "Python Rocks!"

upper_case = string.upper()
lower_case = string.lower()
title_case = string.title()

print(upper_case)
print(lower_case)
print(title_case)

PYTHON ROCKS!
python rocks!
Python Rocks!

In [47]:
string = "Python is not bad"
modified_string = string.replace("bad", "good")

print(modified_string)

Python is not good

In [48]:
string = "Coding is fun with Python"
substring = "code"
exists = substring.lower() in string.lower()
print(exists )

False

In [49]:
string = "Python"
reversed_string = string[::-1]

print(reversed_string)

nohtyP

In [50]:
string = "Learn Python the easy way"
words = string.split()
joined_string = "-".join(words)

print(words)
print(joined_string)

['Learn', 'Python', 'the', 'easy', 'way']
Learn-Python-the-easy-way

In [51]:
string = "banana apple avocado"
count = string.count("a")

print(count)

6

In [52]:
core = 95
language = "Python"

print(f"I scored {core} in {language} which is awesome !")

I scored 95 in Python which is awesome !

 ## Lists/Tuples

In [58]:
fruit = ["apple", "banana", "cherry", "date", "elderberry"]

print(f"The first word is : {fruit[0]}")
print(f"The last word is : {fruit[-1]}")

The first word is : apple
The last word is : elderberry

In [67]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

In [68]:
fruits.append("fig")
fruits.remove("cherry")

In [73]:
banana_index = fruits.index("banana")

fruit[banana_index] = "blueberry"

print(f"modified list : {fruits}")

modified list : ['apple', 'banana', 'date', 'elderberry', 'fig']

In [76]:
fruits = ["apple", "blueberry", "date", "elderberry", "fig"]

fruits.sort()
fruits.reverse()

print(f"Sorted and reversed list: {fruits}")

Sorted and reversed list: ['fig', 'elderberry', 'date', 'blueberry', 'apple']

In [77]:
languages = ["Python", "Java", "C++", "Ruby", "Go"]
first_three = languages[:3]
print(f"First three languages: {first_three}")

First three languages: ['Python', 'Java', 'C++']

In [79]:
numbers = [10, 20, 30, 40, 50]

total_sum = sum(numbers)

print(f"the total sum is : {total_sum}")

the total sum is : 150

In [81]:
num = (15, 25, 35, 45, 55)

max_num = max(num)

min_num = min(num)

print(f"the maximun number is: {max_num}")
print(f"the minimun number is: {min_num}")

the maximun number is: 55
the minimun number is: 15

In [82]:
color = ["red", "green", "blue"]

color_tuple = tuple(color)

print(type(color_tuple))

<class 'tuple'>

In [83]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(f"Unpacked values: a = {a}, b = {b}, c = {c}")

Unpacked values: a = 1, b = 2, c = 3

In [84]:
squares = [x**2 for x in range(1, 11)]
print(f"Squares of numbers from 1 to 10: {squares}")

Squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [85]:
languages = ["Python", "Java", "C++", "Ruby", "Go"]
index_of_c = languages.index("C++")
print(f"The index of 'C++' is: {index_of_c}")

The index of 'C++' is: 2

## Dictionaries

In [1]:
# Create a dictionary
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [2]:
# Access and print the value of "city"
city_value = person["city"]
print("City:", city_value)

City: New York

In [3]:
# Update the value of "age"
person["age"] = 30
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [4]:
# Add a new key "country" with value "USA"
person["country"] = "USA"
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [5]:
# Remove the "city" key
person.pop("city")
print(person)

{'name': 'Alice', 'age': 30, 'country': 'USA'}

In [6]:
# Check if the key "name" exists
if "name" in person:
    print("Key 'name' exists.")
else:
    print("Key 'name' does not exist.")

Key 'name' exists.

In [7]:
# Iterate over the dictionary
for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 30
country: USA

In [8]:
# Merge two dictionaries
dict1 = {"x": 1, "y": 2}
dict2 = {"y": 3, "z": 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'x': 1, 'y': 3, 'z': 4}

In [9]:
# Print keys and values
languages = {"Python": 1991, "Java": 1995, "C++": 1985}
print("Keys:", languages.keys())       
print("Values:", languages.values())

Keys: dict_keys(['Python', 'Java', 'C++'])
Values: dict_values([1991, 1995, 1985])

In [10]:
# Create a dictionary using comprehension
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## SETS

In [11]:
# 1. Create and Print Set
colors = {"red", "green", "blue"}
print("Set of colors:", colors)

Set of colors: {'blue', 'red', 'green'}

In [12]:
# 2. Add Element
colors.add("yellow")
print("After adding yellow:", colors)

After adding yellow: {'blue', 'red', 'yellow', 'green'}

In [13]:
# 3. Remove Element
colors.remove("green")
print("After removing green:", colors)

After removing green: {'blue', 'red', 'yellow'}

In [14]:
# 4. Check Membership
is_blue_in_set = "blue" in colors
print("Is 'blue' in the set?:", is_blue_in_set)

Is 'blue' in the set?: True

In [15]:
# 5. Union of Sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [16]:
# 6. Intersection of Sets
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {3}

In [17]:
# 7. Difference of Sets
difference_set = set1.difference(set2)
print("Difference of sets (set1 - set2):", difference_set)

Difference of sets (set1 - set2): {1, 2}

In [18]:
# 8. Set Length
length_of_set = len({1, 2, 3, 4, 5})
print("Length of the set {1, 2, 3, 4, 5}:", length_of_set)

Length of the set {1, 2, 3, 4, 5}: 5

In [19]:
# 9. Set Operations
subset_check = {1, 2}.issubset({1, 2, 3, 4})
superset_check = {1, 2, 3, 4}.issuperset({1, 2})
print("Is {1, 2} a subset of {1, 2, 3, 4}?:", subset_check)
print("Is {1, 2, 3, 4} a superset of {1, 2}?:", superset_check)

Is {1, 2} a subset of {1, 2, 3, 4}?: True
Is {1, 2, 3, 4} a superset of {1, 2}?: True

In [20]:
# 10. Convert List to Set
list_with_duplicates = [1, 2, 2, 3, 4, 4]
unique_set = set(list_with_duplicates)
print("Set after removing duplicates:", unique_set)

Set after removing duplicates: {1, 2, 3, 4}